body {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    background-color: black;
    color: white;
    text-align: center;
}

#main-logo {
    justify-content: center;
    margin-top: 20vh;
    width: 40vw;
}

#sub-logo {
    font-size: 1.8em;
    font-weight: 200;
}

.logo-container {
    display: flex;
    align-items: center;
    position: relative;
    background-color: black;
}

.full-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.subheader {
    position: relative;
    text-align: left;
    bottom: 20%;
    font-size: 4em;
    font-weight: 600;
}

.explore {
    position: relative;
    text-align: left;
    bottom: 25%;
    font-size: 1em;
    font-weight: 600;
}

#arrows {
    width: 4.5em;
    height: 5.5em;
}

#globe {
    position: absolute;
    top: 1vh;
    z-index: 0;
}

#all-visual {
    width: 100vw;
}