.explore-btn {
    background: transparent;
    border: 2px solid white;
    color: white;
    font-size: 25px;
    padding: 11px 26px;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.explore-btn:hover {
    background-color: white;
    color: black;
}
