.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    padding: 10px 0;
    width: 100%;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.nav-item:first-child {
    margin-right: auto; /* Ensures the logo stays on the left */
}

.nav-item {
    align-items: center;
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center; /* Aligns items vertically within the link */
}

.bookmark {
    width: 1.4em;
    height: 1.7em;
    margin-right: 10px; /* Adds space between the bookmark and the email */
}

.logo {
    width: 2.5em;
    height: 2.5em;
}
